<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>818483931315-dh1crn6jh4ggps25b27nri9eihjktc77.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.818483931315-dh1crn6jh4ggps25b27nri9eihjktc77</string>
	<key>API_KEY</key>
	<string>AIzaSyAmLFSjsopeeJEAf9h7Dj-2AhgmuXTo-R8</string>
	<key>GCM_SENDER_ID</key>
	<string>818483931315</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bookStore</string>
	<key>PROJECT_ID</key>
	<string>book-store-59a17</string>
	<key>STORAGE_BUCKET</key>
	<string>book-store-59a17.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:818483931315:ios:e15cd7d6d378254e00e8c6</string>
</dict>
</plist>